<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Type</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Education</th>
    </tr>
    <%= render "admin_list" %>
</table>