<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Type</th>
        <th>Email</th>
        <th>Background</th>
    </tr>
    <%= render "student_list" %>
</table>