<div class="course-card">
    <p><strong>Name:</strong> <%= @enrollment.profile.first_name %> <%= @enrollment.profile.last_name %> </p>
    <p><strong>Type:</strong> <%= @enrollment.profile.profileable_type %></p>
    <p><strong>Cohort:</strong> <%= @enrollment.cohort.name %></p>
</div>